<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="AntApi">
  <meta name="keywords" content="AntApi">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
  <title>{{ title }}</title>
</head>
<body>
{% block content %}{% endblock content %}
</body>
</html>